.main {
  margin-top: 75px;
  display: flex;
  flex-wrap: wrap; 
  justify-content: center;
}

.brand_img {
  width: 200px;
  height: 200px;
  /* border: 1px solid black; */
  justify-content: space-around; 
}

.title { 
  text-align: center;
}

.btn-btn-icon {
  margin-right: 20px;
  display: flex;
  justify-content: space-between;
  margin-left: 23px;
  margin-bottom: 20px;
}
.card{
  flex-wrap: wrap; 
  align-items: center;
  margin-left:14px; 
  /* justify-content: space-around;  */
  /* justify-content: center; */

} 

@media (max-width: 700px) {
  /* *{
    background-color: blue;
  } */
  .main {
    margin-top: 50px;
    display: flex;
  }
}
/* 
Pending concepts :
App Theming
Clean Coding
Typescript integration
Animation
Context API
HOC
API calling and handling





2:27
Context API ,HOC and API calling are already there in course. If you want to try out, You can start typescript integration */

/* not use innerhtml - instead use dom manipulation methods - like createelement.
3:45
2. images and the entire app should be in the center
3:45
and remove odd number margins - like 27, 47 et
3:46
fix it - where you can either like or dislike

fix branch so u get the folder in local as well */
